<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
        
      </div>
      <div class="panel-body">
        <a class="btn btn-danger btn-lg active" href="/" role="button">toppage</a>
        <a class="btn btn-danger btn-lg active" href="/beds" role="button">bedmap</a>
      </div>
    </div>
  </aside>
  <div class="col-xs-8">

  </div>
</div>