<!-- 移動食事カレンダー -->



<div class="row">
<div class="col-md-1">
<button type="button" class="btn btn-default active">最新表示</button>
</div>
<div class="col-md-9">
<button type="button" class="btn btn-default active">入院申込</button>
<button type="button" class="btn btn-default active">退院許可</button>
<button type="button" class="btn btn-default active">転棟申込</button>
<button type="button" class="btn btn-default active">転室・転床</button>
<button type="button" class="btn btn-default active">外出泊・帰院</button>
<button type="button" class="btn btn-default active">食事変更</button>
<br>
<button type="button" class="btn btn-default active">&emsp;入院&emsp;</button>
<button type="button" class="btn btn-default active">&emsp;退院&emsp;</button>
<button type="button" class="btn btn-default active">&emsp;転棟&emsp;</button>
<button type="button" class="btn btn-default active">&nbsp;&nbsp;&emsp;転科&nbsp;&emsp;</button>
<button type="button" class="btn btn-default active">&emsp;担当変更&emsp;</button>
<button type="button" class="btn btn-default active">セット食</button>
<button type="button" class="btn btn-default active">食事一括指示</button>
</div>


<div class="col-md-2">
<a href="/patients/<%= @patient.id %>" class="btn btn-default active" role="button">閉じる</a>
<a href="javascript:history.back()" class="btn btn-default active">戻る</a>
</div>




<div class="col-md-12">&emsp;</div>
<div class="col-md-12">
<table class="table table-bordered table-condensed">
  <tr>
    <th class="text-center">2018年</th>
    <th class="text-center">01/15(月)</th>
    <th class="text-center">01/16(火)</th>
    <th class="text-center">01/17(水)</th>
    <th class="text-center">01/18(木)</th>
    <th class="text-center">01/19(金)</th>
    <th class="text-center">01/20(土)</th>
    <th class="text-center">01/21(日)</th>
    <th class="text-center">01/22(月)</th>
    <th class="text-center">01/23(火)</th>
    <th class="text-center">01/24(水)</th>
    <th class="text-center">01/25(木)</th>
    <th class="text-center">01/26(金)</th>
  </tr>
  <tr>
    <td  rowspan="4" class="text-center">移動情報</td>
    <td class="danger">&emsp;</td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
  </tr>
  <tr>
    <td class="danger">&#9679;10入院</td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
  </tr>
  <tr>
    <td class="danger">&emsp;</td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
  </tr>
  <tr>
    <td class="danger">&emsp;</td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
    <td class="danger"></td><td class="danger"></td><td class="danger"></td><td class="danger"></td>
  </tr>

  <tr>
    <td class="text-center">食事(朝)</td>
    <td class="warning text-center">&#9632;</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
  </tr>
  <tr>
    <td class="text-center">食事(昼)</td>
    <td class="warning text-center"><%= @patient.food %></td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
  </tr>
    <td class="text-center">食事(夕)</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
    <td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td><td class="warning text-center">↓</td>
  </tr>

  <tr>
    <td class="text-center">診療科</td>
    <td class="success">→緩和ケア</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
    <td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
    <td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">病棟</td>
    <td class="success">→病棟</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
    <td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
    <td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">病室</td>
    <td class="success">→１－１号</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
    <td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
    <td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td><td class="success text-center">→</td>
  </tr>

  <tr>
    <td class="text-center">主担当医</td>
    <td class="info">→医者太郎</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">担当医</td>
    <td class="info">→担当医</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">担当医</td>
    <td class="info">→担当医</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">担当看護</td>
    <td class="info">→看護花子</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">副担当看</td>
    <td class="info">→看護良子</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
  </tr>
  <tr>
    <td class="text-center">チーム</td>
    <td class="info">→なし</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
    <td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td><td class="info text-center">→</td>
  </tr>
  </table>
</div>
<div class="col-md-2">
  移動情報
<table class="table table-bordered table-condensed">
  <tr><td class="info">診療科</td><td class="info">緩和ケア内科</td></tr>
  <tr><td class="info">病棟</td><td class="info">病棟</td></tr>
  <tr><td class="info">病室</td><td class="info">１号室</td></tr>
  <tr><td class="info">病床</td><td class="info">１－１</td></tr>
  <tr><td class="info">主担当医</td><td class="info">医者太郎</td></tr>
  <tr><td class="info">担当医</td><td class="info">担当医</td></tr>
  <tr><td class="info">担当医</td><td class="info">担当医</td></tr>
</table>
</div>
<div class="col-md-2">
  看護師･チーム情報
<table class="table table-bordered table-condensed">
  <tr><td class="info">担当看護師</td><td class="info">看護花子</td></tr>
  <tr><td class="info">副担当看護師</td><td class="info">看護良子</td></tr>
  <tr><td class="info">チーム</td><td class="info">なし</td></tr>
</table>
</div>

<% if @patient.food == '欠食' %>
<div class="col-md-4">
  食事情報
<table class="table table-bordered table-condensed">
  <tr><td class="warning">食種</td><td class="warning"><%= @patient.food %></td></tr>
  <tr><td class="warning">主食/飲み物 朝</td><td class="warning">主食なし</td></tr>
  <tr><td class="warning">主食/飲み物 昼</td><td class="warning">主食なし</td></tr>
  <tr><td class="warning">主食/飲み物 夕</td><td class="warning">主食なし</td></tr>
  <tr><td class="warning">コメント</td><td class="warning">&emsp;</td></tr>
  <tr><td class="warning">&emsp;</td><td class="warning">&emsp;</td></tr>
  <tr><td class="warning">&emsp;</td><td class="warning">&emsp;</td></tr>
</table>
</div>
<div class="col-md-3">
  栄養量
<table class="table table-bordered table-condensed">
  <tr><td class="warning">エネルギー</td><td class="warning">0</td><td class="warning">Kcal</td></tr>
  <tr><td class="warning">蛋白質</td><td class="warning">0</td><td class="warning">g</td></tr>
  <tr><td class="warning">脂質</td><td class="warning">0</td><td class="warning">g</td></tr>
  <tr><td class="warning">炭水化物</td><td class="warning">0</td><td class="warning">g</td></tr>
  <tr><td class="warning">カリウム</td><td class="warning">0</td><td class="warning">mg</td></tr>
  <tr><td class="warning">カルシウム</td><td class="warning">0</td><td class="warning">mg</td></tr>
  <tr><td class="warning">リン</td><td class="warning">0</td><td class="warning">mg</td></tr>
  <tr><td class="warning">鉄</td><td class="warning">0</td><td class="warning">mg</td></tr>
  <tr><td class="warning">亜鉛</td><td class="warning">0</td><td class="warning">mg</td></tr>
  <tr><td class="warning">ビタミンＡ</td><td class="warning">0</td><td class="warning">μg</td></tr>
</table>
</div>
<% else %>
<div class="col-md-4">
  食事情報
<table class="table table-bordered table-condensed">
  <tr><td class="warning">食種</td><td class="warning"><%= @patient.food %></td></tr>
  <tr><td class="warning">主食/飲み物 朝</td><td class="warning">パン色々/牛乳（ホット）</td></tr>
  <tr><td class="warning">主食/飲み物 昼</td><td class="warning">ご飯1/3</td></tr>
  <tr><td class="warning">主食/飲み物 夕</td><td class="warning">麺色々1/3</td></tr>
  <tr><td class="warning">コメント</td><td class="warning">納豆禁</td></tr>
  <tr><td class="warning">&emsp;</td><td class="warning">山芋オクラ禁</td></tr>
  <tr><td class="warning">&emsp;</td><td class="warning">果物毎食付</td></tr>
</table>
</div>
<div class="col-md-3">
  栄養量
<table class="table table-bordered table-condensed">
  <tr><td class="warning">エネルギー</td><td class="warning">854</td><td class="warning">Kcal</td></tr>
  <tr><td class="warning">蛋白質</td><td class="warning">32.3</td><td class="warning">g</td></tr>
  <tr><td class="warning">脂質</td><td class="warning">22.9</td><td class="warning">g</td></tr>
  <tr><td class="warning">炭水化物</td><td class="warning">128</td><td class="warning">g</td></tr>
  <tr><td class="warning">カリウム</td><td class="warning">1200</td><td class="warning">mg</td></tr>
  <tr><td class="warning">カルシウム</td><td class="warning">267.0</td><td class="warning">mg</td></tr>
  <tr><td class="warning">リン</td><td class="warning">480.1</td><td class="warning">mg</td></tr>
  <tr><td class="warning">鉄</td><td class="warning">4.248</td><td class="warning">mg</td></tr>
  <tr><td class="warning">亜鉛</td><td class="warning">14.09</td><td class="warning">mg</td></tr>
  <tr><td class="warning">ビタミンＡ</td><td class="warning">263.3</td><td class="warning">μg</td></tr>
</table>
</div>
<% end %>




</div>

