
<h1>Editing detail</h1>

<%= render 'form' %>

<%#= link_to 'Show', @detail %>
<%= link_to 'Show', plan_detail_path %>|

<%#= link_to 'Back', details_path %>
<%= link_to 'INDEX', plan_details_path %>
